{% extends 'header.html.twig' %}

{% block title %}Carrito de Compras{% endblock %}

{% block body %}
{# <div class="carrito">
    <h1>Tu Carrito</h1>
    {% if carritoProducto is empty %}
        <p>No hay productos en tu carrito.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for carritoProducto in carritoProducto %}
                    <tr>
                        <td><img src="{{ asset('images/uploads/' ~ carritoProducto.getProducto().getImg()) }}" alt="{{ carritoProducto.getProducto().getName() }}"></td>
                        <td>{{ carritoProducto.getProducto().getName() }}</td>
                        <td>{{ carritoProducto.getProducto().getPrice() }} €</td>
                        <td>{{ carritoProducto.getCantidad() }}</td>
                        <td>{{ carritoProducto.getProducto().getPrice() * carritoProducto.getCantidad() }} €</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4">Total</td>
                    <td>{{ total }} €</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
</div> #}
<h1>hellooooo</h1>
 <div class="carrito">
    <h2>Tu Carrito</h2>
    {# <p>{{ carrito.id_carrito }}</p>#}
 </div>
{% endblock %}
