{% extends 'header.html.twig' %}

{% block title %}Carrito de Compras{% endblock %}

{% block body %}
 <div class="carrito">
    <h1>Tu Carrito</h1>
    {% if carritoProductos is empty %}
        <p>No hay productos en tu carrito.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for carritoProducto in carritoProductos %}
                    <tr>
                        <td><img src="{{ asset('images/uploads/' ~ carritoProducto.idProducto.img) }}" alt=""></td>
                        <td>{{ carritoProducto.idProducto.name }}</td>
                        <td>{{ carritoProducto.idProducto.price }} €</td>
                        <td>{{ carritoProducto.cantidad}}</td>
                        <td>{{ carritoProducto.idProducto.price * carritoProducto.cantidad }} €</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4">Total</td>
                    <td>{#{ total }#} €</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
</div> 
<hr>
<hr>

<h1>hellooooo</h1>
 <div class="carrito">
    <h2>Tu Carrito</h2>
      <p>{{ carrito.getIdCarrito() }}</p>
    <ul>
        {% for carritoProducto in carritoProductos %}
            <li>
                Producto: {{ carritoProducto.idProducto.name }}<br>
                Precio: {{ carritoProducto.idProducto.price }}<br>
                Cantidad: {{ carritoProducto.cantidad }}
            </li>
        {% endfor %}
    </ul>
 </div>
{% endblock %}
