{% extends 'header.html.twig' %}

{% block title %}Carrito de Compras{% endblock %}

{% block body %}
 {{ parent() }}
 <div class="carrito">
    <h1>Tu Carrito</h1>
    {% if carritoProductos is empty %}
        <p>No hay productos en tu carrito.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody >
                {% for carritoProducto in carritoProductos %}
                    <tr>
                        <td><img class="img-Producto" src="{{ carritoProducto.idProducto.img }}" alt=""></td>
                        <td >{{ carritoProducto.idProducto.name }}</td>
                        <td>{{ carritoProducto.idProducto.price }} €</td>
                        <td>
                            <div class="cart-actions">
                                <form action="{{ path('aniadirUno') }}" method="post" class="inline-form">
                                    <input type="hidden" name="idCarrito" value="{{ carrito.idCarrito }}">
                                    <input type="hidden" name="idProducto" value="{{ carritoProducto.idProducto.id_producto }}">
                                    <button type="submit">Añadir Uno</button>
                                </form>

                                <span class="quantity">{{ carritoProducto.cantidad }}</span>

                                <form action="{{ path('quitarUno') }}" method="post" class="inline-form">
                                    <input type="hidden" name="idCarrito" value="{{ carrito.idCarrito }}">
                                    <input type="hidden" name="idProducto" value="{{ carritoProducto.idProducto.id_producto }}">
                                    <button type="submit">Quitar Uno</button>
                                </form>

                                <form action="{{ path('eliminar_producto') }}" method="post" class="inline-form">
                                    <input type="hidden" name="idCarrito" value="{{ carrito.idCarrito }}">
                                    <input type="hidden" name="idProducto" value="{{ carritoProducto.idProducto.id_producto }}">
                                    <button type="submit">Eliminar</button>
                                </form>
                            </div>

                        </td>
                        <td>{{ carritoProducto.idProducto.price * carritoProducto.cantidad }} €</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><h2>Total</h2></td>
                    <td><h2>{{ total }} €</h2></td>
                </tr>
            </tbody>
        </table>
    {% endif %}
</div> 
<hr>
{#<button onclick="">Realizar Compra</button>#}
<form action="{{ path('realizar_pedido') }}" method="post">
    <button type="submit">Realizar Compra</button>
</form>
<hr>

{% endblock %}