{% extends 'header.html.twig' %}

{% block title %}Carrito de Compras{% endblock %}

{% block body %}
 {{ parent() }}
 <div class="carrito">
    <h1>Tu Carrito</h1>
    {% if carritoProductos is empty %}
        <p>No hay productos en tu carrito.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for carritoProducto in carritoProductos %}
                    <tr>
                        <td><img class="img-Producto" src="{{ carritoProducto.idProducto.img }}" alt=""></td>
                        <td>{{ carritoProducto.idProducto.name }}</td>
                        <td>{{ carritoProducto.idProducto.price }} €</td>
                        <td>
                            <form action="{{ path('carrito', { 'id': carritoProducto.idProducto }) }}" method="post" style="display: flex; align-items: center;">
                                <input type="hidden" name="_method" value="PUT">
                                <button type="submit" name="accion" value="quitar">-</button>
                                <span>{{ carritoProducto.cantidad }}</span>
                                <button type="submit" name="accion" value="añadir">+</button>
                                <button type="submit" name="accion" value="eliminar">Eliminar</button>
                            </form>
                        </td>
                        <td>{{ carritoProducto.idProducto.price * carritoProducto.cantidad }} €</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4"><h2>Total</h2></td>
                    <td><h2>{{ total }} €</h2></td>
                </tr>
            </tbody>
        </table>
    {% endif %}
</div> 
<hr>
<button onclick="">Realizar Compra</button>
<hr>

{% endblock %}
