{# templates/productopag.html.twig #}
{% extends 'header.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/product.css') }}">
{% endblock %}

{% block body %}
<div class="reviews-box">
     <form action="{{ path('meal', {'idProduct': idProduct}) }}" method="post">
        <label for="opinion" class="EnunciadoForm">Escriba su opinión sobre el producto:</label>
        <input type="text" id="opinion" name="opinion" required>
        <button type="submit" name="submit_opinion" class="boton-enviar">Enviar</button>
    </form>
</div> 
<div  id="chat">
    {% if opiniones is not empty %}
        {% for opinion in opiniones %}
            <div class="chat-message">
                <strong>Author ID:</strong> {{ opinion.idUser }},
                <strong>Message:</strong> {{ opinion.opinion }},
            </div>
        {% endfor %}
    {% else %}
        <p class="no-messages">No hay mensajes en el chat.</p>
    {% endif %}
</div>


{% endblock %}
