{% extends 'header.html.twig' %}

{% block body %}
    {{ parent() }}

    {# Ver si el usuario está logueado #}
    <div style="color:black;">
        {% if app.user %}
            <h1 style="text-align:center;">Bienvenido, {{ app.user.nombreusuario }}</h1>
        {% else %}
            <h1 style="text-align:center;">No estás autentificado.</h1>
        {% endif %}
    </div>

    {# Campo de búsqueda con botón #}
   <div style="text-align:center; margin-bottom: 20px; display: flex; justify-content: center; align-items: center;">
        <input type="text" id="search" placeholder="Buscar productos..." style="width: 50%; padding: 10px;">
        <button id="searchButton" class="searchButton" onClick="window.location.href = '{{ path("buscarProducto") }}?q=' ">Buscar</button>
    </div>

    {# Contenedor para resultados de búsqueda y todos los productos #}
    <div id="results" class="container-Productos"></div>

    {# Todos los productos #}
    <div class="container-Productos" id="product-list">
        {% if prod is defined %}
            {% for producto in prod|slice(0, 51) %}
                <div class="box-Productos">
                    <a href="{{ path('meal', {'idProduct': producto.getId_Producto()}) }}" class="linkproducto">
                        <img class="img-Producto" src="{{ producto.img }}" alt="{{ producto.name }}" />
                        <p class="TituloProd">{{ producto.name }}</p>
                        <p>Supermercado: {{ producto.supermarket }}</p>
                        <h4>{{ producto.price }} €</h4>
                    </a>
                    <form action="{{ path('addProducto', {'idProduct': producto.id_producto}) }}" method="post">
                        <input type="hidden" name="id_producto" value="{{ producto.id_producto }}">
                        <button type="submit">Agregar al Carrito</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>No se encontraron productos.</p>
        {% endif %}
    </div>

    <footer> 
        Síguenos en redes sociales: <br> <a href="https://www.instagram.com/meal_market/" target="_blank"> <img src="img\IG.png" alt="IG_logo"> </a>
    </footer>

    {% block javascript %}
    <script>
 window.onload = function() {
            console.log("JavaScript cargado y ventana completamente cargada.");

            var searchButton = document.getElementById('searchButton');
            var searchInput = document.getElementById('search');

            searchButton.addEventListener('click', function() {
                var query = searchInput.value.trim();
                console.log("Botón de búsqueda clicado. Query:", query);

                if (query.length >= 3) {
                    console.log("Redirigiendo a la búsqueda...");
                    window.location.href = '{{ path("buscarProducto") }}?q=' + encodeURIComponent(query);
                } else {
                    alert('Por favor, ingrese al menos 3 caracteres para buscar.');
                }
            });
        };

        function crearSalto(height) {
            console.log("Creando salto de línea...");
            var ele = document.createElement('div');
            ele.style.clear = 'left';
            return ele;
        }
    </script>
    {% endblock %}
{% endblock %}