{% extends 'header.html.twig' %}

{% block body %}
    {{ parent() }} {# Esto incluirá el contenido del bloque body de header.html.twig #}

{# Ver si el usuario está logueado #}
<div style="color:black;">{% if app.user %}
    <h1 style="text-align:center;">Bienvenido, {{ app.user.nombreusuario }}</h1>
{% else %}
    <p>No estás autenticado.</p>
{% endif %} </div>


{# Todos los productos #}
    <div class="container-Productos">
        {% if prod is defined %} {# Si el titulo ocupa + de 1 linea el div se hace más grande #}
            {% for producto in prod|slice(0, 51)  %}
                <div class="box-Productos">
                    <a href="{{ path('meal', {'idProduct': producto.getId_Producto()}) }}" class="linkproducto">
                    <img class="img-Producto" src="{{ producto.img }}" alt="{{ producto.name }}" />
                    <p class="TituloProd">{{ producto.name }}</p>
                    <p>Supermercado: {{ producto.supermarket }}</p>
                    <h4>{{ producto.price }} €</h4></a>
                    {# AÑADIR AL CARRITO ----->  Meter path al controlador carrito#}
                    <form action="" method="post">
                            <input type="hidden" name="id_producto" value="{{ producto.Id_producto }}">
                            <button type="submit" >Agregar al Carrito</button>
                        </form>
                </div>
            {% endfor %}
        {% else %}
            <p>No se encontraron productos.</p>
        {% endif %}
    </div>

    {% block javascript %}
    <script>
        function crearSalto(height) {
            console.log("Creando salto de línea...");
            var ele = document.createElement('div'); // crear nodo
            ele.style.clear = 'left'; // css posicionamiento
            return ele; // Devolver el elemento creado
        }

        document.addEventListener("DOMContentLoaded", function() {
            console.log("DOMContentLoaded evento disparado...");
            var productos = document.querySelectorAll('.box-Productos');
            for (var i = 0; i < productos.length; i++) {
                if ((i + 1) % 5 === 0 && i !== productos.length - 1) {
                    var br = crearSalto(20); // Crear un salto de línea
                    productos[i].parentNode.insertBefore(br, productos[i].nextSibling);
                }
            }
        });
    </script>
    {% endblock %}
{% endblock %}
