{% extends 'header.html.twig' %}

{% block body %}
    {{ parent() }} {# Esto incluirá el contenido del bloque body de header.html.twig #}

    <div class="container-Productos">
        {% if prod is defined %}
            {% for producto in prod|slice(0, 4)  %}
                <div class="box-Productos">
                    <a href="{{ path('meal', {'idProduct': producto.getIDProd()}) }}" class="linkproducto">
                    <img class="img-Producto" src="{{ producto.img }}" alt="{{ producto.name }}" />
                    <h2>{{ producto.name }}</h2>
                    <p>Supermercado: {{ producto.supermarket }}</p>
                    <h4>{{ producto.price }}</h4>
                    <p>valoracion</p>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p>No se encontraron productos.</p>
        {% endif %}
    </div>

    {% block javascript %}
    <script>
        function crearSalto(height) {
            console.log("Creando salto de línea...");
            var ele = document.createElement('div'); // crear nodo
            ele.style.clear = 'left'; // css posicionamiento
            return ele; // Devolver el elemento creado
        }

        document.addEventListener("DOMContentLoaded", function() {
            console.log("DOMContentLoaded evento disparado...");
            var productos = document.querySelectorAll('.box-Productos');
            for (var i = 0; i < productos.length; i++) {
                if ((i + 1) % 5 === 0 && i !== productos.length - 1) {
                    var br = crearSalto(20); // Crear un salto de línea
                    productos[i].parentNode.insertBefore(br, productos[i].nextSibling);
                }
            }
        });
    </script>
    {% endblock %}
{% endblock %}
