{% extends 'header.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/product.css') }}">
{% endblock %}


{% block body %}


{#     {{ parent() }}
 #}    <div class="containerInsideProducto">
        <img class="product-img" src="{{ producto.img }}" alt="Imagen del producto" />
        <div class="info-box">
            <div class="productInsideName">{{ producto.name }}</div>
            <div class="background-box"></div>
            <div class="priceInsideProduct">{{ producto.price }} €</div>
            <div class="ratings">Valoraciones</div>
        </div>

    </div>
        <div class="opiniones">
            {{ include('opinionesProductos.html.twig', {'opiniones': opiniones, 'idProduct':idProduct}) }}
        </div>
                 <div class="valoraciones">
            {{ include('valoracionesProductos.html.twig', {'valoraciones': valoraciones}) }}
        </div> 

{% endblock %}
