{% extends 'header.html.twig' %}

{% block body %}


    {{ parent() }}
    <div class="container">
        <img class="product-image" src="{{ producto.img }}" alt="Imagen del producto" />
        <div class="info-box">
            <div class="background-box"></div>
            <div class="ratings">Valoraciones</div>
            <div class="price">{{ producto.price }} €</div>
            <div class="product-name">{{ producto.name }}</div>
        </div>

    </div>
        <div class="opiniones">
            {{ include('opinionesProductos.html.twig', {'opiniones': opiniones}) }}
        </div>
                <div class="valoraciones">
            {{ include('valoracionesProductos.html.twig', {'valoraciones': valoraciones}) }}
        </div>

{% endblock %}
